@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
   
}
#mypage_comm div{
	box-sizing: border-box;
}
#mypage_comm a{
	display: block;
	text-decoration: none;
 	color: inherit;
}
#mypage_comm{
	display: flex;
	flex-direction: row;
	width:100%;
	height:100%;
}
#mypage_comm #mypage_r{
	width:70%;
}
#mypage_r #mej{
	width:80%;
	padding: 1%;
}


#mej_t #first_name{
	font-size:10px;
}
#mej_t #second_name{
	font-size:30px;
	font-weight: bold;
}
#m_filter_search_div{
	display:flex;
	justify-content: flex-end;
	padding-right:1%;
}
#mej{
	box-shadow: 0 0 0 1px #aaaaaa;
	border-radius: 10px;
	height:100%;
}
#mej_t{
	height:10%
}
#mej_m{
	height:80%
}
#mej_b{
	height:10%
}



#mej_b{
	display:flex;
	flex-direction:column;
}
#mej_b div{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.mej_filter_search i{
	cursor: pointer;
}