@charset "UTF-8";

#mypage_market{
	display: flex;
	flex-direction: row;
	width:100%;
	min-height: 800px;
}
#mypage_market #mypage_r{
	width:70%;
}
#mypage_r #mol{
	width:80%;
	padding: 1%;
}
#mol{
}
#mol_t{
	height:10%;
}
#mol_m{
	height:80%;
}
#mol_b{
	height:10%;
}

#mol_t #first_name{
	font-size:10px;
}
#mol_t #second_name{
	font-size:30px;
	font-weight: bold;
}

#mol{
	box-shadow: 0 0 0 1px #aaaaaa;
	border-radius: 10px;
}


/* mol_enter_date (주문 날짜 구분) */

#mol_enter_date{
	display: flex;
	justify-content: space-evenly;
	width:40%;
	margin:0 auto;
	height:5%;
	align-items: center;
	padding: 0.3% 1% ;
	text-align: center;
	border:1px solid #aaaaaa;
	margin-bottom: 10px;
}
#mol_enter_date div{
	border:1px solid #ccc;
}
#mol_date_total{
	width: 35%;
}
#mol_date_six_months{
	width:25%;
}
#mol_date_one_year, #mol_date_two_year{
	width: 15%
}

/* 주문내역 리스트 */

#mol_order_lists{
	width:80%;
	margin: 0 auto;
	padding: 1% 1%;
	border:1px solid #aaaaaa;
}
.mol_order_list{
	width:90%;
	min-height:200px;
	display:flex;
	flex-direction:column;
	padding: 2% 2%;
	border-radius: 15px;
	margin: 20px auto;
	border:1px solid #ccc;
}
.mol_info_area>div{
	min-height:120px;
}
.mol_info{
	width:70%;
	position: relative;
	padding-right: 2%;
}
.mol_info_date{
	height:20%;
}
.mol_info_div{
	width:100%;
	display:flex;
	border:1px solid #ccc;
	margin-top:10px;
}

.mol_info_area{
	display: flex;
	width:100;

}
.mol_info_img{
	width:40%;
	border:1px solid #ccc;
	margin: 1%;
	overflow: hidden;
}
.order_image {
    width: 100%; 
    height: auto;
    object-fit: cover;
    display: block; 
}
.mol_info_txt{
	width:60%;
	padding-left:2%;
	margin: auto;
}
.mol_info_txt >table{
	table-layout: fixed;
	margin-top:10px;
	width:100%;
}
.mol_info::after {
    content: '';
    position: absolute;
    top: 45%; 
    transform: translateY(-40%); 
    right: -1%; 
    width: 1px; 
    height: 70%; 
    background-color: #626262; 
     width: 3px;
}
.mol_info_tr{
	width:100%;
}
.mol_info_text_area{
	width:65%;
}
/* 버튼 영역 */
.mol_btns{
	width:30%;
	padding:1%;
	padding-left:2%;
	margin:auto;
}
.mol_btns_area div{
	margin: 2% auto;
	text-align: center;
}
.mol_btns_area button{
	padding:0 30%;
}
.mol_status_area{
	display:flex;
	margin-bottom:3%;
}
.mol_status{
	width:100%;
	font-weight:bold;
	text-align: center;
}