@charset "UTF-8";


/* ********************* */
/*      페이지 정보 및 제목    */
/* ********************* */
/* pageInfo: 페이지 설명 + 페이지 제목*/
.contents .pageInfo {
	background: #B5CCAB;
	display: flex;
	flex-direction: column;
	/* 수직으로 정렬 */
	position: relative;
	/* 자식 요소의 절대 위치에 필요 */
	width: 689px;
	/* 원하는 너비 설정 */
	box-sizing: border-box;
	margin: 40px auto;
	/* 여백 설정 */
}

/* page-title: 페이지 설명 + 페이지 제목 만 포함 */
.pageInfo .page-title {
	display: flex;
	flex-direction: column;
	padding: 18.5px 22px 11.5px 21px;
	box-sizing: border-box;
}

/* 페이지 설명 */
.page-title .titleInfo {
	margin-bottom: 8px;
	display: inline-block;
	align-self: flex-start;
	overflow-wrap: break-word;
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.39);
	margin: 0 auto;
}

/* 페이지 제목 */
.page-title .ctgTitle {
	overflow-wrap: break-word;
	font-weight: 400;
	font-size: 43px;
	line-height: 1;
	color: #000000;
	margin: 10px auto;
}


/* **************************** */
.PostBox{
	border:1px solid black;
	width:900px;
	margin:0 auto;
	margin-top:10px;
	height:100%;
}

.detailTitle{
	position:absolute;
	border:1px solid black;
	width:600px;
	height:30px;
	margin-top:50px;
	margin-left:25px;
	border-radius:5px;
}


.author{
	border:1px solid black;
	width:135px;
	height:140px;
	margin-left:735px;
	margin-top:50px;
	border-radius:5px;
}

.content{
	border:1px solid black;
	width:850px;
	height:600px;
	margin:0 auto;
	margin-top:30px;
}

.like{
	border:1px solid black;
	width:150px;
	margin-left:25px;
	position:absolute;
	top:200px;
	border-radius:5px;
}
.ctg{
	border:1px solid black;
	width:150px;
	margin-left:25px;
	position:absolute;
	top:225px;
	border-radius:5px;
	
}

.comments{
	border:1px solid black;
	width:850px;
	margin-left:25px;
	margin-top:30px;
	height:100%;
}