@charset "UTF-8";

.All{
	margin:0 auto;
	margin-top:180px;
	width:900px;
	height:100%;
}

#noticeFont{
	font-size:50px;
		
}

.noticeBoardTB{
	width: 900px;
    border-collapse: collapse;
    border: 1px solid black;
    margin:0 auto;
}

.noticeBoardTB td{
   	border-top: 1px solid black;
   	border-bottom: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
}

.NBoardBox{
	border:1px solid black;
	width:900px;
	height:700px;
	margin-top:55px;
}

.PetCtgBrd{
	border:1px solid black;
	width:250px;
	position:absolute;
	top:300px;
	left:200px;
	text-align:center;
}