@charset "UTF-8";

 .freeLikeBtn{
 	width:70px;
  	height:70px;
  	border-radius:100%;
  	background-color:white;
  	margin-left:335px;
  	margin-top:15px;
 }
 
 .FreeBookmarkBtn{
  	width:70px;
  	height:70px;
  	border-radius:100%;
  	background-color:white;
  	margin-left:30px;
 }
 
 .TextBox{
 	margin:0 auto;
 	border:1px solid black;
 	width:850px;
 	height:400px;
 	margin-top:50px;
 }
 
 .likeAndBookmarkBox{
 	margin:0 auto;
 	width:850px;
 	height:100px;
 }
 
 .commentsBox{
 	border:1px solid black;
 	width:850px;
 	height:300px;
 	margin:0 auto;
 }
 
 .commentWriteArea{
 	width:845px;
 	margin-top:300px;
 }