@charset "UTF-8";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
}

a {
  color: black;
}

img {
  display: block;
  width: 80%;
  height: 80px;
  margin: auto;
}

.order {
  width: 60%;
  margin: auto;
  padding: 30px;
}

@media (min-width: 1200px) {
  .order {
    width: 50%;
  }
}

/* 화면 너비가 992px 이상일 때 */
@media (min-width: 992px) and (max-width: 1199px) {
  .order {
    width: 60%;
  }
}

/* 화면 너비가 768px 이상일 때 */
@media (min-width: 768px) and (max-width: 991px) {
  .order {
    width: 70%;
  }
}

/* 화면 너비가 768px 미만일 때 */
@media (max-width: 767px) {
  .order {
    width: 90%;
  }
}

.order ul {
  background-color: whitesmoke;
  padding: 30px;
  margin-bottom: 50px;
  border: whitesmoke solid 1px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
}

.order ul :first-child {
  color: limegreen;
}

table {
  border-top: solid 1.5px black;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
}

thead {
  text-align: center;
  font-weight: bold;
}

tbody {
  font-size: 20px;
}

tfooter{
	font-size: 20px;
	font-weight: bold;
	background-color: gray;
}

td {
  padding: 15px 0px;
  border-bottom: 1px solid lightgrey;
}

.order_title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.order_input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.order_info input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.order_input_container {
  display: flex;
  gap: 5px;
}

.order_input_container input {
  flex: 1;
}

.order_prdName {
	font-weight: bold;
}

.order_prdPirce {
	font-size : 23px;
	font-weight: bold;
}

.order_Pirce{
	text-align : right;
	font-size : 23px;
	font-weight: bold;
}

.payment_image {
  display: block;
  width: auto;
  height: 50px;
  object-fit: contain; /* 이미지가 지정된 크기에 맞도록 조절 */
  margin: 0;
}

.payment_imagesort{
	text-align: left;
}

.payment_text{
	font-size: 20px;
	text-align: left;
	height: 50px;
}

.paument_button{
	width: 95%;
	background-color: blue;
}

.paument_button p{
	color: white;
	font-size: 25px;
	font-weight: bold;
}

/*결제 완료 페이지*/
.complete_message{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

.complete_guide{
	font-size: 30px;
	text-align: left;
	font-weight: bold;
}

.complete_box{
	border: 1px solid #000;
	width: 80%;
	height: auto;
	float: center;
}


.complete_s_box{
	border: 1px solid #000;
	width: 40%;
	height: 200px;
	float: left;
	box-sizing: border-box;
	margin-right: 10%;
}

.cart__mainbtns {
  width: 420px;
  height: 200px;
  padding-top: 40px;
  display: block;
  margin: auto;
}

.cart__bigorderbtn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin: auto;
  border-radius: 5px;
}

.cart__bigorderbtn.left {
  background-color: white;
  border: 1px lightgray solid;
}

.cart__bigorderbtn.right {
  background-color: blue;
  color: white;
  border: none;
}