@charset "UTF-8";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
}

a {
  color: black;
  text-decoration-line: none; 
}

@media (min-width: 1200px) {
  .product {
    width: 50%;
  }
}

/* 화면 너비가 992px 이상일 때 */
@media (min-width: 992px) and (max-width: 1199px) {
  .product {
    width: 60%;
  }
}

/* 화면 너비가 768px 이상일 때 */
@media (min-width: 768px) and (max-width: 991px) {
  .product {
    width: 70%;
  }
}

/* 화면 너비가 768px 미만일 때 */
@media (max-width: 767px) {
  .product {
    width: 90%;
  }
}



.order-container {
    max-width: 800px;
    margin: 0 auto;
}

.order {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.order h3 {
    margin-top: 0;
}

.order-item {
    border-top: 1px solid #eee;
    padding: 15px 0;
}


.order_image {
    height: 100px;
    width: 80px;
    margin: 10px;
}

.product-info {
	font-size : 18px;
    margin-top: 15px;
    display: flex;
    border-top: 1px solid #eee;
}


.order-container button:hover {
    opacity: 0.8;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order_buttons{
	margin: 5px;
}

.filter-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.order_title{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	align-items: baseline;
}

.header {
	text-align: center;
	margin-bottom: 30px;
}

.header h1 {
	margin: 0;
	font-size: 24px;
}


label {
    display: block;
    margin-bottom: 10px;
}
.custom-btn {
  margin: 10px;
  float: right;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-1 {
  transition: all 0.3s ease;
}
.btn-1:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}


table {
  border-top: solid 1.5px black;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
}

thead {
  text-align: center;
  font-weight: bold;
}

tbody {
  font-size: 20px;
}

tfooter{
	font-size: 20px;
	font-weight: bold;
	background-color: gray;
}

td {
  padding: 15px 0px;
  border-bottom: 1px solid lightgrey;
}
