@charset "UTF-8";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
}

a {
  color: black;
  text-decoration-line: none; 
}

@media (min-width: 1200px) {
  .container {
    width: 50%;
  }
}

/* 화면 너비가 992px 이상일 때 */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 60%;
  }
}

/* 화면 너비가 768px 이상일 때 */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
  }
}

/* 화면 너비가 768px 미만일 때 */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
	width: 60%;
	margin: auto;
	padding: 30px;
}

.product-detail {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 20px;
}

.product-image {
    justify-content: center;
    align-items: left;
    height: auto;
    width : 50%;
    max-width : 500px;
    margin: 10px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
	border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 400px;
    max-height: 600px;
}

.info-item {
	width : 95%;
	height : auto;
    margin-bottom: 10px;
}

.info-item input {
    
    text-align: center;
}

.product-tabs {
    text-align: center;
    margin-bottom: 20px;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 (필요시) */
   
    padding: 20px;
    box-sizing: border-box;
}

.description-item {
    width: 100%; /* 아이템이 전체 너비를 차지하도록 설정 */
    max-width: 800px; /* 최대 너비를 제한하여 너무 커지지 않도록 설정 */
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

.detail_btn {
  width: 80%;
  height: 50px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
}

.quantity-control {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 5px;
}


.option_text{
	font-size: 20px;
}

.review-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review_img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.review-item{
    width: 100%; /* 리뷰가 부모 요소의 너비에 맞춰지도록 설정 */
    max-width: 800px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.review-header{
	display: flex;
    align-items: center;
    justify-content: flex-start; /* 리뷰 헤더의 요소들을 왼쪽에 정렬 */
    margin-bottom: 10px;
}

.review-score{
  float: left;
  font-weight: bold;
  font-size: 13px;
  color: black;
  background-color: gold;
}

.review-date{
	float: left;
	font-size : 13px;
	font-weight: lighter;
}

.review-author{
	float: left;
	font-size: 15px;
}

.profile-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.product-Descript{
    width: 100%; /* 부모 요소의 너비에 맞춰 이미지 크기를 조정 */
    height: auto;
    max-width: 800px; /* 최대 너비 제한 */
    object-fit: contain; /* 비율을 유지하며 이미지가 표시되도록 설정 */
    margin: 0 auto; /* 이미지 중앙 정렬 */
}