<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_allmypet.project.dao.IBoardDAO">
	<resultMap id="boardResultMap"
		type="com.spring_boot_allmypet.project.model.BoardVO">
		<result property="postNo" column="postNo" />
		<result property="boardCtgNo" column="boardCtgNo" />
		<result property="headerNo" column="headerNo" />
		<result property="postTitle" column="postTitle" />
		<result property="postDate" column="postDate" />
		<result property="memId" column="memId" />
		<result property="memNickName" column="memNickName" />
		<result property="postContent" column="postContent" />
		<result property="postLike" column="postLike" />
		<result property="postView" column="postView" />
		<result property="postImg" column="postImg" />
	</resultMap>


	<!-- 전체 게시글 -->
	<select id="listAllBoard" parameterType="hashmap"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT * FROM post LIMIT #{startNo}, 15;
	</select>



	<!-- 페이징 -->
	<select id="getBoardCount" resultType="int">
		SELECT count(*) FROM post
	</select>



	<!-- 게시글 검색 -->
	<select id="boardSearch" parameterType="hashmap"
		resultMap="boardResultMap">
		SELECT * FROM post WHERE true
		<choose>
			<when test="type != null and type.equals('postTitle')">
				AND postTitle LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="type != null and type.equals('memId')">
				AND memId LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when
				test="type != null and type.equals('postTitleAndpostContent')">
				AND (postTitle LIKE CONCAT('%', #{keyword}, '%')
				OR postContent
				LIKE CONCAT('%', #{keyword}, '%'))
			</when>
		</choose>
		ORDER BY postNo DESC
	</select>

	<!-- 게시글 조회 -->
	<select id="detailViewBoard" parameterType="int"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT postNo, postTitle, memId, postContent, postLike,
		postImg, postView, boardCtgNo
		FROM post
		WHERE postNo = #{postNo}
	</select>

	<!-- 글 작성 -->
	<insert id="insertBoard"
		parameterType="com.spring_boot_allmypet.project.model.BoardVO">
		INSERT INTO post (postTitle, memId, postDate,
		postContent,postTypeNo, boardCtgNo, postNo)
		VALUES (#{postTitle},
		#{memId}, NOW(), #{postContent},#{postTypeNo},
		#{boardCtgNo},#{postNo})
	</insert>

	<!-- 인기글 -->
	<select id="listHotTopics" resultMap="boardResultMap">
		SELECT * FROM post
		WHERE
		postLike > 50
		ORDER BY postLike DESC
		LIMIT 2
	</select>

<!-- 전체 커뮤니티  -->
	<!-- 공지게시판 -->
	<select id="viewNotice" parameterType="string"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT p.*, m.memNickName
		FROM post p
		JOIN member m ON
		p.memId = m.memId
		WHERE p.boardCtgNo = '1'
		ORDER BY postDate DESC;
	</select>
	
	<!-- 자유게시판: 메인에 붙이는 미리보기용 -->
	<select id="index_freeBoard" parameterType="string"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT p.*, m.memNickName
		FROM post p
		JOIN member m ON
		p.memId = m.memId
		WHERE p.boardCtgNo = '3'
		ORDER BY postDate DESC
		LIMIT 9;
	</select>
	
	<!-- 자유게시판 -->
	<select id="viewFreeboard" parameterType="hashmap"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT p.*, m.memNickName
		FROM post p
		JOIN member m ON
		p.memId = m.memId
		WHERE p.boardCtgNo = '3'
		ORDER BY postDate DESC
		LIMIT
		#{startNo}, 15;
	</select>

	<!-- 자유게시판: 페이징 -->
	<select id="paging" resultType="int">
		SELECT count(*) FROM post
		WHERE
		boardCtgNo = '3';
	</select>
	
	<!-- 자유게시판: 핫한 게시글 -->
	<select id="free_hotList" parameterType="string"
		resultType="com.spring_boot_allmypet.project.model.BoardVO">
		SELECT *
		FROM(		
			SELECT p.*, m.memNickName
			FROM post p
			JOIN member m ON
			p.memId = m.memId
			WHERE p.boardCtgNo = '3'
			ORDER BY postLike DESC
			LIMIT 3
		) AS top3_posts
		ORDER BY postDate DESC;
	</select>
	
</mapper>
