<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_allmypet.project.dao.animal.IBulletinDAO">
	<!-- petCtgNo에 따른 게시글 목록 가져오기 -->
	<!-- <select id="getBulletinList" parameterType="String" resultType="com.spring_boot_allmypet.project.model.animal.BulletinBoardVO"> 
		SELECT * FROM bulletin_board WHERE petCtgNo = #{petCtgNo} </select> -->
	
	<!-- 동물별 카테고리에 따라 전체게시판 보여주기 -->
	<select id="getBulletinList" parameterType="String"
		resultType="com.spring_boot_allmypet.project.model.animal.BulletinBoardVO">
		SELECT bb.*, m.memNickName
		FROM bulletin_board bb
		JOIN member m ON bb.memId = m.memId
		WHERE bb.petCtgNo = #{petCtgNo}
	</select>
</mapper>