<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_allmypet.project.dao.market.ICartDAO">
	    
    <!-- 동일 상품이 존재하는지 확인 -->
    <select id="checkPrdInCart" parameterType="hashmap" resultType="int">
        SELECT COUNT(*)
        FROM cart
        WHERE prdNo=#{prdNo} AND memId=#{memId}
    </select>
    
    <!-- 동일 상품이 존재하지 않으면 장바구니에 추가 -->
    <insert id="insertCart" parameterType="com.spring_boot_allmypet.project.model.market.CartVO">
        INSERT INTO cart (cartNo, memId, prdNo, cartQty)
        VALUES (#{cartNo}, #{memId}, #{prdNo}, #{cartQty})
    </insert>
    
    <!-- 동일 상품이 존재하면 주문수량 변경 -->
    <update id="updateQtyInCart" parameterType="com.spring_boot_allmypet.project.model.market.CartVO">
        UPDATE cart
        SET cartQty = cartQty + #{cartQty}
        WHERE memId=#{memId} AND prdNo=#{prdNo}
    </update>
    
    <!-- 장바구니 목록 조회 -->
    <select id="cartList" parameterType="string" resultType="com.spring_boot_allmypet.project.model.market.CartVO">
        SELECT c.cartNo, p.prdNo, p.prdImg, p.prdName, p.prdPrice, c.cartQty, c.memId
        FROM product p, cart c
        WHERE p.prdNo=c.prdNo AND c.memId=#{memId}
        ORDER BY c.cartNo
    </select>
    
    <!-- 전달 받은 cartNo에 해당되는 행 삭제 -->
    <delete id="deleteCart" parameterType="list">
        DELETE FROM cart WHERE cartNo IN
        <foreach collection="list" item="item" index="i" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <!-- 장바구니 수정 : 변경된 주문수량으로 변경 -->
    <update id="updateCart" parameterType="com.spring_boot_allmypet.project.model.market.CartVO">
        UPDATE cart
        SET cartQty = #{cartQty}
        WHERE cartNo = #{cartNo}
    </update>
    
    <!-- 주문 정보 저장 -->
    <insert id="insertOrderInfo" parameterType="com.spring_boot_allmypet.project.model.market.OrderInfoVO">
        INSERT INTO order_info (ordNo, ordDate, memId, ordReceiver, ordAddress, ordHP, ordMsg, ordPay, ordState)
        VALUES (#{ordNo}, #{ordDate}, #{memId}, #{ordReceiver}, #{ordAddress}, #{ordHP}, #{ordMsg}, #{ordPay}, #{ordState})
    </insert>
    
    <!-- 주문 상품 정보 저장 : cart 테이블에서 가져와서 저장 (memId와 ordNo 필요해서 전달 받음) -->
    <insert id="insertOrderProduct">
        INSERT INTO order_product (ordNo, prdNo, ordQty)
        SELECT #{ordNo}, prdNo, cartQty 
        FROM cart WHERE memId=#{memId}
    </insert>
    
    <!-- 주문 완료 후 해당 회원의 장바구니 내용 삭제 : memId -->
    <delete id="deleteCartAfterOrder" parameterType="string">
        DELETE FROM cart WHERE memId = #{memId}
    </delete>
    
    <delete id="deleteCartItem">
    DELETE FROM cart
    WHERE memId = #{memId} AND prdNo = #{prdNo}
	</delete>
</mapper>
