<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_allmypet.project.dao.member.IMemberDAO">
  	<resultMap id="memResult" type="com.spring_boot_allmypet.project.model.member.MemberVO" >
  		<result property="memId" column="memId"  />
  		<result property="memPw" column="memPwd"  />
  		<result property="memName" column="memName"  />
  		<result property="memName" column="memNickName"  />
  		<result property="memEmail" column="memEmail"  />
  		<result property="memHP" column="memHP"  />
  		<result property="memZipcode" column="memZipcode"  />
  		<result property="memAddress1" column="memAddress1"  />
  		<result property="memAddress2" column="memAddress2"  />
  		<result property="memGen" column="memGen"  />
  		<result property="memBirth" column="memBirth"  />
  		<result property="filtering" column="filtering"  />
  		
  	</resultMap>
  	
  	<!-- 회원 가입 -->
  	<insert id="insertMember" parameterType="com.spring_boot_allmypet.project.model.member.MemberVO">
  		INSERT INTO member (memId, memPwd, memNickName, memName, memGen, memBirth, memEmail, memHP, memZipcode, memAddress1, memAddress2)
  		VALUES(#{memId},#{memPwd},#{memNickName},#{memName},#{memGen},#{memBirth},#{memEmail},#{memHP},#{memZipcode},#{memAddress1},#{memAddress2})
  	</insert>
  	
  	<!-- 로그인 -->
  	<select id="login" parameterType="map" resultType="com.spring_boot_allmypet.project.model.member.MemberVO">
  		SELECT * FROM member WHERE memId = #{memId} AND memPwd = #{memPwd}
  	</select>
  	
  	<!-- 아이디 중복 확인 -->
  	<select id="memIdCheck" parameterType="string" resultType="string">
  		SELECT memId FROM member WHERE memId=#{memId}
  	</select>
  	
  	<!-- 닉네임 중복 확인 -->
  	<select id="memNNCheck" parameterType="string" resultType="string">
  		SELECT memNickName FROM member WHERE memNickName=#{memNickName}
  	</select>
  	
  	<!-- 포지션 확인 -->
  	<select id="memPosition" parameterType="string" resultType="int">
  		SELECT position FROM member WHERE memId=#{memId}
  	</select>
  	
  	<!-- 로그인 검사 -->
  	<select id="loginCheck" parameterType="string" resultType="string">
  		SELECT memPwd FROM member WHERE memId=#{id}
  	</select>
  </mapper>