<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_allmypet.project.dao.animal.IMyTipDAO">
	<select id="getTipList" parameterType="String" resultType="com.spring_boot_allmypet.project.model.animal.MyTipBoardVO">
        SELECT mt.*
        FROM mytip_board mt
        JOIN bulletin_board bb ON mt.postNo = bb.postNo
        WHERE mt.petCtgNo = #{petCtgNo} AND bb.headerNo = 4
    </select>
</mapper>