<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_allmypet.project.dao.animal.IPetNameDAO">
	<!-- 색깔 그룹 조회 -->
	<select id="getColorGroup" resultType="string">
		SELECT color_group
		FROM colors
		WHERE specific_color = #{specificColor}
	</select>

	<!-- 이름 후보 조회 -->
	<!-- <select id="getPetNames"
		resultType="com.spring_boot_allmypet.project.model.animal.PetNameVO">
		SELECT id, color_group AS colorGroup, pet_gender AS
		petGender, name_candidate AS nameCandidate
		FROM pet_names
		WHERE color_group = #{colorGroup} AND pet_gender = #{petGender}
	</select> -->

	<select id="getPetNames"
		resultType="com.spring_boot_allmypet.project.model.animal.PetNameVO">
		SELECT id, color_group AS colorGroup, pet_gender AS petGender,
		name_candidate AS nameCandidate
		FROM pet_names
		WHERE color_group = #{colorGroup} AND pet_gender = #{petGender}
		ORDER BY RAND()
		LIMIT 3
	</select>
	
</mapper>