@charset "UTF-8";

* {margin:0;}

.changePwd {
	display: flex;
	flex-direction: column;
}

.changePwdTitleWrap {
	display: flex;
	justify-content: center;
}

.changePwdTitle {
	width: 853px;
	margin: 30px 0;
	text-align: left;
	letter-spacing: 2px;
	font-weight: bold;
}

.changePwdTitle b {
	font-size: 50px;
}

.changePwdBox {
	width: 853px;
	height: 300px;
	margin: auto;
}

.changePwdInput {
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
}

.changePwdSubmit {
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

table th {
	padding: 15px 0;
	font-size: 30px;
}

table td {
	font-size: 20px;
	padding: 10px 20px;
}

table td:first-child, table th {
	text-align: right;
}

input::placeholder {
	font-style: italic;
	font-size: 15px;
	text-align: left;
}

input[type="text"]:active, 
input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="password"]:active, 
input[type="password"]:focus, 
input[type="password"]:hover {
	outline: none;
	border-bottom: 2px solid;
	border-bottom-color: #000000;
}

.id, .text {
	padding: 7px 0;
	border: none;
	border-bottom: 1px solid;
	background: transparent;
	font-size: 17px;
	text-align: center;
}

.email, .adress {
	padding: 7px 0;
	border: none;
	border-bottom: 1px solid;
	background: transparent;
	font-size: 15px;
	text-align: left;
}

.id {
	width: 50%;	
}

.text {
	width: 70%;
}

.email {
	width: 75%
}

.adress {
	width: 100%;
}

.changePwdBtn {
	border: none;
	padding: 15px 70px;
	border-radius: 10px;
	display: block;
	margin: auto;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	background: #000000;
	margin-bottom: 50px;
}

.changePwdBtn:hover {
    background-color: #808080;
    transform: scale(1.05);
    cursor: pointer;
}