@charset "UTF-8";

.FreeBoardBtn{
	width:100px;
	height:30px;
	background-color:white;
	border-radius:7px;
	margin-top:30px;
	margin-left:880px;
	
}

.FPhotoBtn{
	 display: flex; /* 아이콘과 텍스트 정렬을 위해 flexbox 사용 */
     align-items: center; /* 세로 중앙 정렬 */
}

.FreeDetail{
	border:1px solid black;
	width:900px;
	height:700px;
	margin:0 auto;
	margin-top:200px;
	
}

.FreeDetailFont{
	font-size:25px;
	width:400px;
	position:absolute;
	top:90px;
	left:510px;
}

.FreeDetailTitle{
	width:800px;
	height:30px;
	border:1px solid black;
	border-radius:7px;
	margin-left:45px;
	margin-top:50px;
}

.FreeDetailBody{
    width:800px;
    height:400px;
    border:1px solid black;
    margin-left:45px;
    margin-top:50px;
}

#fileUpload {
   display: none;
}

